"CHAIN_RPC_URLS": "{\"1\":\"https://eth.llamarpc.com\",\"11155111\":\"https://rpc.sepolia.org\",\"324\":\"https://mainnet.era.zksync.io\",\"300\":\"https://sepolia.era.zksync.io\"}",
        "DEFAULT_CHAIN_ID": "1",
        "DEFAULT_GAS_LIMIT": "21000",
        "DEFAULT_GAS_PRICE": "5000000000",
        "WALLET_STORAGE_PATH": "./wallets.json",
        "ETHERSCAN_API_KEY": "API",
        "PORT": "8080"